body {background-color: #3E79B4;}

h1 {font-size: 50px; color: white; text-align: center; font-family:"Titillium Web", sans-serif;}

h2 {font-size: 40px; color: white; text-align: center; font-family:"Titillium Web", sans-serif;}

h3 {font-size: 40x; color: white; text-align: center; font-family:"Titillium Web", sans-serif;}

.menu
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #F6D800;
}

table
{
	color: white;
	font-size: 16pt;
	border-color:white;
}

label
{
	color: white;
	font-size: 16pt;
}

.btn {border-color:white;}

.radiobtn
{
	color: white;
	font-family:"Cairo", sans-serif;
	font-size: 15pt;
}

p
{
	font-family:"Cairo", sans-serif;
	text-align: center;
	font-size: 20px;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
}

.highlight
{
	background-color: white;
	color: black
}

.itemmenu
{
	float: left;
}

.ref
{
	color: white;
	font-size: 16pt;
}

.ref a
{
	color: white;
	text-decoration:none;
	font-size: 18pt;
}

.ref a:hover
{
	color: black;
}

.itemmenu a
{
	font-family:"Cairo", sans-serif;
	display: block;
	color: black;
	font-size: 15pt;
	font-weight: bold;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

.itemmenu a:hover
{
	background-color: white;
}

.indice
{
	color: white;
	font-size: 15pt;
}

.active
{
	background-color: #04AA6D;
}

.indice li a
{
	color: white;
	text-decoration:none;
}

.indice li a:hover
{
	color: black;
}

ol
{
	color: white;
	font-size: 15pt;
	padding-left: 40%;
}

.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}